apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana
  namespace: apps
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  volumeName: grafana-local-pv
  resources:
    requests:
      storage: 25Gi
