apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: apps
spec:
  ingress_type: ingress
  hostname: awx.k8s.local
  service_type: ClusterIP
  postgres_configuration_secret: awx-postgres-configuration
  admin_user: admin
  admin_password_secret: awx-admin-password
  projects_storage_access_mode: ReadWriteOnce
  projects_storage_size: 10Gi
  ingress_annotations: |
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: DevOps
    gethomepage.dev/name: "Ansible AWX"
    gethomepage.dev/icon: "si-ansible"
    gethomepage.dev/description: "Ansible Automation Platform"
  node_selector: |
    kubernetes.io/hostname: quinn-hpprobook430g6