apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.1.220-192.168.1.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: example
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool
  # Only advertise from nodes on the local 192.168.1.x network
  # Excludes Oracle VMs which are on WireGuard (10.49.104.x) - UDP gossip doesn't work through WireGuard
  nodeSelectors:
  - matchLabels:
      metallb.universe.tf/advertise: "true"