{
    "openapi": "3.0.3",
    "info": {
        "title": "ClickUp MCP Server",
        "version": "2.1.0",
        "description": "ClickUp MCP server usage rules:\n\nUse ClickUp Tools: When handling requests related to ClickUp, task management, project management, or to-do lists, always use your ClickUp tools.\n\nTask Query Workflow: When asked about tasks for a specific person, ALWAYS complete this 3-step workflow: 1) Call getWorkspaces to get workspace/team IDs, 2) Call getTeamMembers with team_id to find the user's numeric ID by their name, 3) Call searchTeamTasks with assignees[] set to that user ID. Do NOT stop after finding the user - proceed to fetch their tasks.\n\nHierarchy Understanding: ClickUp uses this hierarchy: Workspace (team) > Space > Folder > List > Task. Navigate down the hierarchy to find specific items.\n\nUse Filters: When searching tasks, always use filters (assignees, statuses, dates) to avoid slow responses. Never call searchTeamTasks without filters unless specifically asked for all tasks.\n\nCreating Tasks: To create a task, first get the list_id from getListsInFolder or getListsInSpace, then call createTaskInList with the list_id and task details.\n\nAssignee IDs: User IDs for assignees must be numeric integers obtained from getTeamMembers. Names cannot be used directly - always look up the ID first."
    },
    "servers": [
        {
            "url": "https://api.clickup.com/api/v2",
            "description": "Production"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "ClickUp API Token (pk_...)"
            }
        },
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "color": {
                        "type": "string"
                    },
                    "profilePicture": {
                        "type": "string",
                        "nullable": true
                    },
                    "initials": {
                        "type": "string"
                    },
                    "role": {
                        "type": "integer"
                    },
                    "custom_role": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_active": {
                        "type": "string"
                    },
                    "date_joined": {
                        "type": "string"
                    },
                    "date_invited": {
                        "type": "string"
                    }
                }
            },
            "Task": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "custom_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "text_content": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/Status"
                    },
                    "orderindex": {
                        "type": "string"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "date_updated": {
                        "type": "string"
                    },
                    "date_closed": {
                        "type": "string",
                        "nullable": true
                    },
                    "date_done": {
                        "type": "string",
                        "nullable": true
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "creator": {
                        "$ref": "#/components/schemas/User"
                    },
                    "assignees": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "watchers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "checklists": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Checklist"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tag"
                        }
                    },
                    "parent": {
                        "type": "string",
                        "nullable": true
                    },
                    "priority": {
                        "$ref": "#/components/schemas/Priority"
                    },
                    "due_date": {
                        "type": "string",
                        "nullable": true
                    },
                    "start_date": {
                        "type": "string",
                        "nullable": true
                    },
                    "points": {
                        "type": "number",
                        "nullable": true
                    },
                    "time_estimate": {
                        "type": "integer",
                        "nullable": true
                    },
                    "time_spent": {
                        "type": "integer"
                    },
                    "custom_fields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CustomFieldValue"
                        }
                    },
                    "dependencies": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "linked_tasks": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "team_id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "list": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "folder": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "space": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Status": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "color": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string"
                    }
                }
            },
            "Priority": {
                "type": "object",
                "nullable": true,
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "priority": {
                        "type": "string"
                    },
                    "color": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "string"
                    }
                }
            },
            "Space": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "private": {
                        "type": "boolean"
                    },
                    "statuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Status"
                        }
                    },
                    "multiple_assignees": {
                        "type": "boolean"
                    },
                    "features": {
                        "type": "object"
                    },
                    "archived": {
                        "type": "boolean"
                    }
                }
            },
            "Folder": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "integer"
                    },
                    "override_statuses": {
                        "type": "boolean"
                    },
                    "hidden": {
                        "type": "boolean"
                    },
                    "space": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "task_count": {
                        "type": "string"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "lists": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/List"
                        }
                    }
                }
            },
            "List": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "integer"
                    },
                    "content": {
                        "type": "string"
                    },
                    "status": {
                        "type": "object"
                    },
                    "priority": {
                        "type": "object"
                    },
                    "assignee": {
                        "type": "object",
                        "nullable": true
                    },
                    "task_count": {
                        "type": "integer"
                    },
                    "due_date": {
                        "type": "string",
                        "nullable": true
                    },
                    "start_date": {
                        "type": "string",
                        "nullable": true
                    },
                    "folder": {
                        "type": "object"
                    },
                    "space": {
                        "type": "object"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "override_statuses": {
                        "type": "boolean"
                    },
                    "statuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Status"
                        }
                    }
                }
            },
            "Comment": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "comment": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "comment_text": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "resolved": {
                        "type": "boolean"
                    },
                    "assignee": {
                        "$ref": "#/components/schemas/User"
                    },
                    "assigned_by": {
                        "$ref": "#/components/schemas/User"
                    },
                    "reactions": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "date": {
                        "type": "string"
                    }
                }
            },
            "Tag": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "tag_fg": {
                        "type": "string"
                    },
                    "tag_bg": {
                        "type": "string"
                    },
                    "creator": {
                        "type": "integer"
                    }
                }
            },
            "Checklist": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "task_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "integer"
                    },
                    "creator": {
                        "type": "integer"
                    },
                    "resolved": {
                        "type": "integer"
                    },
                    "unresolved": {
                        "type": "integer"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChecklistItem"
                        }
                    }
                }
            },
            "ChecklistItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "orderindex": {
                        "type": "integer"
                    },
                    "assignee": {
                        "$ref": "#/components/schemas/User"
                    },
                    "resolved": {
                        "type": "boolean"
                    },
                    "parent": {
                        "type": "string",
                        "nullable": true
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "children": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "Goal": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "team_id": {
                        "type": "string"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "start_date": {
                        "type": "string",
                        "nullable": true
                    },
                    "due_date": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "private": {
                        "type": "boolean"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "creator": {
                        "type": "integer"
                    },
                    "color": {
                        "type": "string"
                    },
                    "pretty_id": {
                        "type": "string"
                    },
                    "multiple_owners": {
                        "type": "boolean"
                    },
                    "folder_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "owners": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "key_results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/KeyResult"
                        }
                    },
                    "percent_completed": {
                        "type": "integer"
                    },
                    "history": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "pretty_url": {
                        "type": "string"
                    }
                }
            },
            "KeyResult": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "goal_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "creator": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "goal_pretty_id": {
                        "type": "string"
                    },
                    "percent_completed": {
                        "type": "integer"
                    },
                    "completed": {
                        "type": "boolean"
                    },
                    "task_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "owners": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "steps_start": {
                        "type": "integer"
                    },
                    "steps_end": {
                        "type": "integer"
                    },
                    "steps_current": {
                        "type": "integer"
                    },
                    "unit": {
                        "type": "string"
                    },
                    "last_action": {
                        "type": "object"
                    }
                }
            },
            "TimeEntry": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "task": {
                        "type": "object"
                    },
                    "wid": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "billable": {
                        "type": "boolean"
                    },
                    "start": {
                        "type": "string"
                    },
                    "end": {
                        "type": "string"
                    },
                    "duration": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "at": {
                        "type": "string"
                    }
                }
            },
            "Webhook": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "userid": {
                        "type": "integer"
                    },
                    "team_id": {
                        "type": "integer"
                    },
                    "endpoint": {
                        "type": "string"
                    },
                    "client_id": {
                        "type": "string"
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "task_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "list_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "folder_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "space_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "health": {
                        "type": "object"
                    },
                    "secret": {
                        "type": "string"
                    }
                }
            },
            "View": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "parent": {
                        "type": "object"
                    },
                    "grouping": {
                        "type": "object"
                    },
                    "divide": {
                        "type": "object"
                    },
                    "sorting": {
                        "type": "object"
                    },
                    "filters": {
                        "type": "object"
                    },
                    "columns": {
                        "type": "object"
                    },
                    "team_sidebar": {
                        "type": "object"
                    },
                    "settings": {
                        "type": "object"
                    }
                }
            },
            "CustomField": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "type_config": {
                        "type": "object"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "hide_from_guests": {
                        "type": "boolean"
                    },
                    "required": {
                        "type": "boolean"
                    }
                }
            },
            "CustomFieldValue": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "type_config": {
                        "type": "object"
                    },
                    "date_created": {
                        "type": "string"
                    },
                    "hide_from_guests": {
                        "type": "boolean"
                    },
                    "required": {
                        "type": "boolean"
                    },
                    "value": {
                        "type": "object"
                    }
                }
            },
            "Guest": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "email": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "color": {
                        "type": "string"
                    },
                    "profilePicture": {
                        "type": "string",
                        "nullable": true
                    },
                    "initials": {
                        "type": "string"
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "err": {
                        "type": "string"
                    },
                    "ECODE": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "paths": {
        "/user": {
            "get": {
                "operationId": "getAuthenticatedUser",
                "summary": "Get Authenticated User",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "User details"
                    }
                }
            }
        },
        "/team": {
            "get": {
                "operationId": "getWorkspaces",
                "summary": "Get Workspace IDs (Step 1 - start here for any task query)",
                "description": "ALWAYS CALL THIS FIRST. Returns all workspaces. Use the workspace 'id' as 'team_id' in subsequent calls. For task queries: Step 1) Call this, Step 2) Call getTeamMembers with team_id, Step 3) Call searchTeamTasks with assignees[].",
                "tags": [
                    "Teams"
                ],
                "responses": {
                    "200": {
                        "description": "Object containing array of workspaces. Use the workspace 'id' as 'team_id' to get spaces via getSpaces endpoint.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "teams": {
                                            "type": "array",
                                            "description": "Array of workspaces. Each workspace id can be used to get spaces via /team/{team_id}/space",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Workspace ID. Use this as team_id when calling getSpaces and other team endpoints"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "Workspace name"
                                                    },
                                                    "color": {
                                                        "type": "string"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "members": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/{team_id}": {
            "get": {
                "operationId": "getTeam",
                "summary": "Get Team",
                "tags": [
                    "Teams"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team details"
                    }
                }
            }
        },
        "/team/{team_id}/space": {
            "get": {
                "operationId": "getSpaces",
                "summary": "Get Spaces in Workspace",
                "description": "Returns all spaces in the specified workspace. First call getWorkspaces to get workspace IDs, then use those IDs here as team_id. Spaces are the top-level organizational containers within a workspace.",
                "tags": [
                    "Spaces"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "description": "The workspace ID from getWorkspaces response (the 'id' field of a workspace/team)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "archived",
                        "description": "Include archived spaces",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Object containing array of spaces in the workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "spaces": {
                                            "type": "array",
                                            "description": "Array of spaces in this workspace",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Space ID. Use this as space_id for folder/list operations"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "Space name"
                                                    },
                                                    "private": {
                                                        "type": "boolean"
                                                    },
                                                    "statuses": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/Status"
                                                        }
                                                    },
                                                    "multiple_assignees": {
                                                        "type": "boolean"
                                                    },
                                                    "features": {
                                                        "type": "object",
                                                        "description": "Enabled features for this space"
                                                    },
                                                    "archived": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createSpace",
                "summary": "Create Space",
                "description": "Create a new space in the workspace.",
                "tags": [
                    "Spaces"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "description": "Workspace ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "multiple_assignees": {
                                        "type": "boolean"
                                    },
                                    "features": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Space created"
                    }
                }
            }
        },
        "/space/{space_id}": {
            "get": {
                "operationId": "getSpace",
                "summary": "Get Space",
                "tags": [
                    "Spaces"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Space details"
                    }
                }
            },
            "put": {
                "operationId": "updateSpace",
                "summary": "Update Space",
                "tags": [
                    "Spaces"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "color": {
                                        "type": "string"
                                    },
                                    "private": {
                                        "type": "boolean"
                                    },
                                    "admin_can_manage": {
                                        "type": "boolean"
                                    },
                                    "multiple_assignees": {
                                        "type": "boolean"
                                    },
                                    "features": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Space updated"
                    }
                }
            },
            "delete": {
                "operationId": "deleteSpace",
                "summary": "Delete Space",
                "tags": [
                    "Spaces"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Space deleted"
                    }
                }
            }
        },
        "/folder/{folder_id}": {
            "get": {
                "operationId": "getFolder",
                "summary": "Get Folder",
                "tags": [
                    "Folders"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "folder_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Folder details"
                    }
                }
            },
            "put": {
                "operationId": "updateFolder",
                "summary": "Update Folder",
                "tags": [
                    "Folders"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "folder_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Folder updated"
                    }
                }
            },
            "delete": {
                "operationId": "deleteFolder",
                "summary": "Delete Folder",
                "tags": [
                    "Folders"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "folder_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Folder deleted"
                    }
                }
            }
        },
        "/space/{space_id}/folder": {
            "get": {
                "operationId": "getFoldersInSpace",
                "summary": "Get Folders in Space",
                "tags": [
                    "Folders"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "archived",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of folders"
                    }
                }
            },
            "post": {
                "operationId": "createFolder",
                "summary": "Create Folder",
                "tags": [
                    "Folders"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Folder created"
                    }
                }
            }
        },
        "/space/{space_id}/list": {
            "get": {
                "operationId": "getListsInSpace",
                "summary": "Get Lists in Space (folderless)",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "archived",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of lists"
                    }
                }
            },
            "post": {
                "operationId": "createListInSpace",
                "summary": "Create List in Space",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "List created"
                    }
                }
            }
        },
        "/folder/{folder_id}/list": {
            "get": {
                "operationId": "getListsInFolder",
                "summary": "Get Lists in Folder",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "folder_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "archived",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of lists"
                    }
                }
            },
            "post": {
                "operationId": "createListInFolder",
                "summary": "Create List in Folder",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "folder_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "List created"
                    }
                }
            }
        },
        "/list/{list_id}": {
            "get": {
                "operationId": "getList",
                "summary": "Get List",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "list_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List details"
                    }
                }
            },
            "put": {
                "operationId": "updateList",
                "summary": "Update List",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "list_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "due_date": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated list"
                    }
                }
            },
            "delete": {
                "operationId": "deleteList",
                "summary": "Delete List",
                "tags": [
                    "Lists"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "list_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "List deleted"
                    }
                }
            }
        },
        "/list/{list_id}/task": {
            "get": {
                "operationId": "getTasksInList",
                "summary": "Get Tasks in List",
                "description": "Get all tasks in a list. Use filters to narrow down results. Without filters this returns all tasks which may be slow.",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "list_id",
                        "required": true,
                        "description": "The list ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page number for pagination (starts at 0)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "in": "query",
                        "name": "order_by",
                        "description": "Order results by field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "created",
                                "updated",
                                "due_date"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "reverse",
                        "description": "Reverse the order",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "subtasks",
                        "description": "Include subtasks in response",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "statuses[]",
                        "description": "Filter by status names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "include_closed",
                        "description": "Include closed/completed tasks",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "assignees[]",
                        "description": "Filter by assignee user IDs. Get user IDs from getTeamMembers.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "tags[]",
                        "description": "Filter by tag names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "due_date_gt",
                        "description": "Due date greater than (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "due_date_lt",
                        "description": "Due date less than (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_created_gt",
                        "description": "Created after (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_created_lt",
                        "description": "Created before (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_updated_gt",
                        "description": "Updated after (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_updated_lt",
                        "description": "Updated before (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of tasks matching the filters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tasks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Task"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createTaskInList",
                "summary": "Create Task in List",
                "description": "Create a new task in a list. The list_id can be obtained from getListsInFolder or getListsInSpace. Required field: name. Optional: description, priority (1=urgent, 4=low), due_date (Unix timestamp in ms), assignees (array of user IDs from getTeamMembers).",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "list_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "priority": {
                                        "type": "integer"
                                    },
                                    "due_date": {
                                        "type": "integer",
                                        "description": "Unix timestamp in milliseconds"
                                    },
                                    "assignees": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Task created"
                    }
                }
            }
        },
        "/task/{task_id}": {
            "get": {
                "operationId": "getTask",
                "summary": "Get Task Details",
                "description": "Get full details of a single task by its ID. Returns all task properties including name, description, status, assignees, due dates, custom fields, etc. Use this after searchTeamTasks to get complete details of a specific task.",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "task_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task details"
                    }
                }
            },
            "put": {
                "operationId": "updateTask",
                "summary": "Update Task",
                "description": "Update task properties like name, description, status, priority, due date, or assignees. Only include fields you want to change in the request body.",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "task_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "priority": {
                                        "type": "integer"
                                    },
                                    "due_date": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated task"
                    }
                }
            },
            "delete": {
                "operationId": "deleteTask",
                "summary": "Delete Task",
                "description": "Permanently delete a task. This action cannot be undone. Use with caution.",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "task_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Task deleted"
                    }
                }
            }
        },
        "/task/{task_id}/comment": {
            "get": {
                "operationId": "getTaskComments",
                "summary": "Get Task Comments",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "task_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of comments"
                    }
                }
            },
            "post": {
                "operationId": "createTaskComment",
                "summary": "Create Task Comment",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "task_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "comment_text"
                                ],
                                "properties": {
                                    "comment_text": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created"
                    }
                }
            }
        },
        "/team/{team_id}/task": {
            "get": {
                "operationId": "searchTeamTasks",
                "summary": "Search Tasks by Assignee (Step 3 - call after getTeamMembers)",
                "description": "REQUIRED TOOL for getting tasks assigned to a user. WORKFLOW: 1) Call getWorkspaces to get team_id, 2) Call getTeamMembers with team_id to find the user's numeric ID from their name, 3) Call THIS ENDPOINT (searchTeamTasks) with assignees[] set to that user ID. You MUST complete all 3 steps when asked about a person's tasks. Example: For 'get tasks for John', find John's ID from getTeamMembers, then call searchTeamTasks with assignees[]=[john_id]. Without the assignees filter this returns ALL tasks which is slow.",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "description": "Workspace ID from getWorkspaces",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page number for pagination (starts at 0)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "in": "query",
                        "name": "order_by",
                        "description": "Order results by field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "created",
                                "updated",
                                "due_date"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "reverse",
                        "description": "Reverse the order",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "subtasks",
                        "description": "Include subtasks",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "space_ids[]",
                        "description": "Filter by space IDs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "project_ids[]",
                        "description": "Filter by folder IDs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "list_ids[]",
                        "description": "Filter by list IDs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "statuses[]",
                        "description": "Filter by status names (e.g., 'open', 'in progress', 'complete')",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "include_closed",
                        "description": "Include closed/completed tasks",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "assignees[]",
                        "description": "Filter by assignee user IDs. Get user IDs from getTeamMembers endpoint.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "tags[]",
                        "description": "Filter by tag names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "due_date_gt",
                        "description": "Due date greater than (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "due_date_lt",
                        "description": "Due date less than (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_created_gt",
                        "description": "Created after (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_created_lt",
                        "description": "Created before (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_updated_gt",
                        "description": "Updated after (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_updated_lt",
                        "description": "Updated before (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_done_gt",
                        "description": "Completed after (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "date_done_lt",
                        "description": "Completed before (Unix timestamp in ms)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "custom_fields[]",
                        "description": "Filter by custom field values as JSON",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of tasks matching the filters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tasks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Task"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/{team_id}/member": {
            "get": {
                "operationId": "getTeamMembers",
                "summary": "Get User IDs by Name (Step 2 - then call searchTeamTasks)",
                "description": "Get all members (users) in a workspace. IMPORTANT: When asked for tasks by person name, find their numeric 'id' from this response, then IMMEDIATELY call searchTeamTasks with assignees[] set to that ID. Do NOT stop after finding the user - proceed to get their tasks.",
                "tags": [
                    "Members"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "description": "Workspace ID from getWorkspaces",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Object containing array of workspace members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "members": {
                                            "type": "array",
                                            "description": "Array of members. Find user by username, extract their 'id', then call searchTeamTasks with assignees[]=[id]",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "user": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "description": "User ID. Use this for assignee filtering in search endpoints"
                                                            },
                                                            "username": {
                                                                "type": "string",
                                                                "description": "User's display name"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            },
                                                            "color": {
                                                                "type": "string"
                                                            },
                                                            "profilePicture": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "initials": {
                                                                "type": "string"
                                                            },
                                                            "role": {
                                                                "type": "integer",
                                                                "description": "Role type (1=owner, 2=admin, 3=member, 4=guest)"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/{team_id}/goal": {
            "get": {
                "operationId": "getGoals",
                "summary": "Get Goals",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "include_completed",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of goals"
                    }
                }
            },
            "post": {
                "operationId": "createGoal",
                "summary": "Create Goal",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "team_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "due_date",
                                    "multiple_owners",
                                    "owners",
                                    "color"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "due_date": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "multiple_owners": {
                                        "type": "boolean"
                                    },
                                    "owners": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "color": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Goal created"
                    }
                }
            }
        },
        "/goal/{goal_id}": {
            "get": {
                "operationId": "getGoal",
                "summary": "Get Goal",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "goal_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Goal details"
                    }
                }
            },
            "put": {
                "operationId": "updateGoal",
                "summary": "Update Goal",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "goal_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "due_date": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "rem_owners": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "add_owners": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "color": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Goal updated"
                    }
                }
            },
            "delete": {
                "operationId": "deleteGoal",
                "summary": "Delete Goal",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "goal_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Goal deleted"
                    }
                }
            }
        },
        "/goal/{goal_id}/key_result": {
            "post": {
                "operationId": "createKeyResult",
                "summary": "Create Key Result",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "goal_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "owners",
                                    "type"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "owners": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "number",
                                            "currency",
                                            "boolean",
                                            "percentage",
                                            "automatic"
                                        ]
                                    },
                                    "steps_start": {
                                        "type": "integer"
                                    },
                                    "steps_end": {
                                        "type": "integer"
                                    },
                                    "unit": {
                                        "type": "string"
                                    },
                                    "task_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "list_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Key result created"
                    }
                }
            }
        },
        "/key_result/{key_result_id}": {
            "put": {
                "operationId": "editKeyResult",
                "summary": "Edit Key Result",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key_result_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "steps_current": {
                                        "type": "integer"
                                    },
                                    "note": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Key result updated"
                    }
                }
            },
            "delete": {
                "operationId": "deleteKeyResult",
                "summary": "Delete Key Result",
                "tags": [
                    "Goals"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key_result_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Key result deleted"
                    }
                }
            }
        },
        "/space/{space_id}/tag": {
            "get": {
                "operationId": "getSpaceTags",
                "summary": "Get Space Tags",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of tags"
                    }
                }
            },
            "post": {
                "operationId": "createSpaceTag",
                "summary": "Create Space Tag",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "space_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "tag"
                                ],
                                "properties": {
                                    "tag": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "tag_fg": {
                                                "type": "string"
                                            },
                                            "tag_bg": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
[...]
