{
    "openapi": "3.0.3",
    "info": {
        "title": "GroupMe API",
        "description": "GroupMe API v3 for managing groups, messages, direct messages, bots, and user accounts. All requests require an access token passed as ?token=YOUR_TOKEN query parameter.",
        "version": "3.0.0",
        "contact": {
            "name": "GroupMe Developers",
            "url": "https://dev.groupme.com"
        }
    },
    "servers": [
        {
            "url": "https://api.groupme.com/v3",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "accessToken": []
        }
    ],
    "paths": {
        "/groups": {
            "get": {
                "operationId": "listGroups",
                "summary": "List user's groups",
                "description": "List the authenticated user's active groups with pagination",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "omit",
                        "in": "query",
                        "description": "Fields to omit (e.g., 'memberships')",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of groups"
                    }
                }
            },
            "post": {
                "operationId": "createGroup",
                "summary": "Create a new group",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 140
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "image_url": {
                                        "type": "string"
                                    },
                                    "share": {
                                        "type": "boolean",
                                        "default": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Group created"
                    }
                }
            }
        },
        "/groups/former": {
            "get": {
                "operationId": "listFormerGroups",
                "summary": "List former groups you can rejoin",
                "responses": {
                    "200": {
                        "description": "List of former groups"
                    }
                }
            }
        },
        "/groups/{group_id}": {
            "get": {
                "operationId": "getGroup",
                "summary": "Get group details",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group details"
                    }
                }
            },
            "post": {
                "operationId": "updateGroup",
                "summary": "Update a group",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "image_url": {
                                        "type": "string"
                                    },
                                    "share": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Group updated"
                    }
                }
            }
        },
        "/groups/{group_id}/destroy": {
            "post": {
                "operationId": "destroyGroup",
                "summary": "Delete a group (creator only)",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group destroyed"
                    }
                }
            }
        },
        "/groups/{group_id}/messages": {
            "get": {
                "operationId": "listMessages",
                "summary": "List group messages",
                "description": "Retrieve messages for a group (default 20, max 100)",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before_id",
                        "in": "query",
                        "description": "Get messages before this ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Get messages since this ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after_id",
                        "in": "query",
                        "description": "Get messages after this ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Messages"
                    }
                }
            },
            "post": {
                "operationId": "createMessage",
                "summary": "Send a message to a group",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "object",
                                        "required": [
                                            "source_guid"
                                        ],
                                        "properties": {
                                            "source_guid": {
                                                "type": "string",
                                                "description": "Unique client-side ID"
                                            },
                                            "text": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "attachments": {
                                                "type": "array"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Message sent"
                    }
                }
            }
        },
        "/groups/{group_id}/members/add": {
            "post": {
                "operationId": "addMembers",
                "summary": "Add members to a group",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "members"
                                ],
                                "properties": {
                                    "members": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "nickname": {
                                                    "type": "string"
                                                },
                                                "user_id": {
                                                    "type": "string"
                                                },
                                                "phone_number": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Add request accepted"
                    }
                }
            }
        },
        "/groups/{group_id}/members/{membership_id}/remove": {
            "post": {
                "operationId": "removeMember",
                "summary": "Remove a member from a group",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "membership_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member removed"
                    }
                }
            }
        },
        "/direct_messages": {
            "get": {
                "operationId": "listDirectMessages",
                "summary": "List direct messages with a user",
                "parameters": [
                    {
                        "name": "other_user_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Direct messages"
                    }
                }
            },
            "post": {
                "operationId": "createDirectMessage",
                "summary": "Send a direct message",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "direct_message"
                                ],
                                "properties": {
                                    "direct_message": {
                                        "type": "object",
                                        "required": [
                                            "source_guid",
                                            "recipient_id"
                                        ],
                                        "properties": {
                                            "source_guid": {
                                                "type": "string"
                                            },
                                            "recipient_id": {
                                                "type": "string"
                                            },
                                            "text": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "attachments": {
                                                "type": "array"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Message sent"
                    }
                }
            }
        },
        "/chats": {
            "get": {
                "operationId": "listChats",
                "summary": "List direct message conversations",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of chats"
                    }
                }
            }
        },
        "/messages/{conversation_id}/{message_id}/like": {
            "post": {
                "operationId": "likeMessage",
                "summary": "Like a message",
                "parameters": [
                    {
                        "name": "conversation_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message liked"
                    }
                }
            }
        },
        "/messages/{conversation_id}/{message_id}/unlike": {
            "post": {
                "operationId": "unlikeMessage",
                "summary": "Unlike a message",
                "parameters": [
                    {
                        "name": "conversation_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message unliked"
                    }
                }
            }
        },
        "/bots": {
            "get": {
                "operationId": "listBots",
                "summary": "List your bots",
                "responses": {
                    "200": {
                        "description": "List of bots"
                    }
                }
            },
            "post": {
                "operationId": "createBot",
                "summary": "Create a bot",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "bot"
                                ],
                                "properties": {
                                    "bot": {
                                        "type": "object",
                                        "required": [
                                            "name",
                                            "group_id"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "group_id": {
                                                "type": "string"
                                            },
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "callback_url": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bot created"
                    }
                }
            }
        },
        "/bots/post": {
            "post": {
                "operationId": "postBotMessage",
                "summary": "Post a message from a bot",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "bot_id",
                                    "text"
                                ],
                                "properties": {
                                    "bot_id": {
                                        "type": "string"
                                    },
                                    "text": {
                                        "type": "string",
                                        "maxLength": 1000
                                    },
                                    "picture_url": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Message posted"
                    }
                }
            }
        },
        "/bots/destroy": {
            "post": {
                "operationId": "destroyBot",
                "summary": "Delete a bot",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "bot_id"
                                ],
                                "properties": {
                                    "bot_id": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bot destroyed"
                    }
                }
            }
        },
        "/users/me": {
            "get": {
                "operationId": "getCurrentUser",
                "summary": "Get current user details",
                "responses": {
                    "200": {
                        "description": "User details"
                    }
                }
            }
        },
        "/users/update": {
            "post": {
                "operationId": "updateCurrentUser",
                "summary": "Update your profile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "avatar_url": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "zip_code": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated"
                    }
                }
            }
        },
        "/blocks": {
            "get": {
                "operationId": "listBlocks",
                "summary": "List blocked users",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "description": "Your user ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of blocks"
                    }
                }
            },
            "post": {
                "operationId": "createBlock",
                "summary": "Block a user",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherUser",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Block created"
                    }
                }
            },
            "delete": {
                "operationId": "deleteBlock",
                "summary": "Unblock a user",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherUser",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block removed"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "accessToken": {
                "type": "apiKey",
                "name": "token",
                "in": "query",
                "description": "Access token from dev.groupme.com"
            }
        }
    }
}