# This ConfigMap stores the list of plugins to be installed at startup.
# Managing this list in Git is a core part of the GitOps approach.
apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-config
  namespace: default
data:
  # A list of plugins to be installed by the init container.
  # We provide only the names, and Jenkins will fetch the latest compatible versions.
  plugins.txt: |-
    kubernetes
    workflow-aggregator
    git
    configuration-as-code
    job-dsl
    pipeline-model-definition
    pipeline-stage-view

  # Job DSL seed job configuration - creates ZionUp deployment job
  seed-job.groovy: |-
    pipelineJob('zionup-homelab-deploy') {
      description('Deploy ZionUp to Homelab Kubernetes Cluster')
      
      properties {
        pipelineTriggers {
          triggers {
            githubPush()
          }
        }
      }
      
      definition {
        cpsScm {
          scm {
            git {
              remote {
                url('https://github.com/Quazmoz/zionup.git')
              }
              branches('*/main')
            }
          }
          scriptPath('deploy/homelab/Jenkinsfile')
          lightweight(true)
        }
      }
    }
