apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - nextcloud-pv.yaml
  - nextcloud-pvc.yaml
  - mysql-pv.yaml
  - mysql-pvc.yaml
  - nextcloud-configmap.yaml
  - nextcloud-secrets.yaml
  - nextcloud-db-deployment.yaml
  - nextcloud-db-service.yaml
  - nextcloud-deployment.yaml
  - nextcloud-service.yaml
  - nextcloud-ingress.yaml
  - nextcloud-cronjob.yaml