apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: apps
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      version: "27.5.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 1m
  values:
    alertmanager:
      enabled: false
    pushgateway:
      enabled: true
      nodeSelector:
        kubernetes.io/hostname: quinn-hpprobook430g6

    server:
      persistentVolume:
        enabled: true
        storageClass: "local-storage"
        size: 45Gi
        existingClaim: "prometheus-server"
      resources:
        limits:
          memory: "2Gi"
          cpu: "2000m"
      retention: "15d"
      nodeSelector:
        kubernetes.io/hostname: quinn-hpprobook430g6

    kube-state-metrics:
      nodeSelector:
        kubernetes.io/hostname: quinn-hpprobook430g6

    # Static scrape configs for Oracle VMs via WireGuard IPs
    extraScrapeConfigs: |
      - job_name: 'oracle-wireguard-node'
        static_configs:
          - targets: ['10.49.104.1:9100']
            labels:
              instance: 'oracle-wireguard'
              node: 'oracle-wireguard'
      - job_name: 'oracle-groupmebot-node'
        static_configs:
          - targets: ['10.49.104.4:9100']
            labels:
              instance: 'oracle-groupmebot'
              node: 'oracle-groupmebot'