apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      version: "27.5.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 1m
  values:
    alertmanager:
      enabled: false
    pushgateway:
      enabled: false

    server:
      persistentVolume:
        enabled: true
        storageClass: "local-storage"
        size: 45Gi