apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: apps
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      version: "27.5.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 1m
  values:
    alertmanager:
      enabled: false
    pushgateway:
      enabled: true

    server:
      persistentVolume:
        enabled: true
        storageClass: "local-storage"
        size: 45Gi
        existingClaim: ""
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "2Gi"
          cpu: "1000m"
      retention: "15d"